USE [Wallet]
GO
/****** Object:  StoredProcedure [dbo].[spDepositFunds]    Script Date: 04/12/2015 01:01:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDepositFunds]
(
@AMOUNT	INT,	
@EMAILID	VARCHAR(50)
)
AS

DECLARE @CUSTOMERBALANCE INT,  @WALLETBALANCE INT

SET @CUSTOMERBALANCE = (SELECT BALANCE FROM TBLCUSTOMERACCOUNT WHERE EMAILID = @EMAILID)

IF  @AMOUNT <=@CUSTOMERBALANCE
	BEGIN
		SET @WALLETBALANCE = (SELECT WALLETBAL FROM TBLWALLET WHERE EMAILID = @EMAILID)
		SET @WALLETBALANCE = ISNULL(@WALLETBALANCE,0) + ISNULL(@AMOUNT,0)	
		UPDATE TBLWALLET SET WALLETBAL = @WALLETBALANCE WHERE EMAILID = @EMAILID		
		SET @CUSTOMERBALANCE = ISNULL(@CUSTOMERBALANCE ,0) - ISNULL(@AMOUNT,0)
		UPDATE TBLCUSTOMERACCOUNT SET BALANCE = @CUSTOMERBALANCE WHERE EMAILID = @EMAILID		
		RETURN(1)	
	END
ELSE
	BEGIN
		RETURN(0)
	END

